---
http_interactions:
- request:
    method: get
    uri: https://web.archive.org/__wb/search/anchor?q=site:ne.jp%20dricas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-App-Server:
      - wwwb-app42
      X-Ts:
      - '200'
      X-Tr:
      - '3265'
      X-Location:
      - wb-search
      X-Rl:
      - '0'
      X-Na:
      - '0'
      X-Page-Cache:
      - MISS
      X-Nid:
      - "-"
    body:
      encoding: UTF-8
      string: '[{"video":0,"display_name":"pso.dricas.ne.jp","first_captured":2000,"text":"http
        pso dricas ne jp","snippet":"support","webpage":288883,"thumb":"pso.dricas.ne.jp","stripped_snippet":"support","capture":484066,"link":"http://pso.dricas.ne.jp/","last_captured":2008,"audio":0,"image":50,"name":"pso.dricas.ne.jp"},{"video":0,"display_name":"aerodancing.dricas.ne.jp","first_captured":1999,"text":"http
        aerodancing dricas ne jp","snippet":"http://aerodancing.dricas.ne.jp/","webpage":5515,"thumb":"aerodancing.dricas.ne.jp","stripped_snippet":"httpaerodancingdricasnejp","capture":18087,"link":"http://aerodancing.dricas.ne.jp/","last_captured":2007,"audio":0,"image":351,"name":"aerodancing.dricas.ne.jp"},{"video":0,"display_name":"mtsuku.dricas.ne.jp","first_captured":2000,"text":"ht[...]
