---
http_interactions:
- request:
    method: get
    uri: https://web.archive.org/__wb/search/host?q=apple
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-App-Server:
      - wwwb-app42
      X-Ts:
      - '200'
      X-Tr:
      - '38'
      X-Location:
      - wb-search
      X-Rl:
      - '0'
      X-Na:
      - '0'
      X-Page-Cache:
      - HIT
      X-Nid:
      - "-"
    body:
      encoding: UTF-8
      string: '{"isUrl":false,"hosts":[{"display_name":"www.tuaw.com"},{"display_name":"apple.stackexchange.com"},{"display_name":"www.apple.com"},{"display_name":"www.appleblog.es"},{"display_name":"aapl.bloggingstocks.com"}]}'
  recorded_at: Sat, 31 Jul 2021 18:35:19 GMT
- request:
    method: get
    uri: https://web.archive.org/__wb/search/anchor?q=apple
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-App-Server:
      - wwwb-app22
      X-Ts:
      - '200'
      X-Tr:
      - '512'
      X-Location:
      - wb-search
      X-Rl:
      - '0'
      X-Na:
      - '0'
      X-Page-Cache:
      - MISS
      X-Nid:
      - "-"
    body:
      encoding: UTF-8
      string: '[{"text":"apple blog","image":3412,"thumb":"tuaw.com","display_name":"www.tuaw.com","webpage":271932,"snippet":"tuaw","link":"http://tuaw.com/","video":3,"stripped_snippet":"tuaw","capture":1048451,"first_captured":2004,"audio":3,"name":"tuaw.com","last_captured":2015},{"text":"apple","image":99,"thumb":"apple.stackexchange.com","display_name":"apple.stackexchange.com","webpage":1507803,"snippet":"ask
        different (apple)","link":"http://apple.stackexchange.com/","video":0,"stripped_snippet":"askdifferentapple","capture":2013764,"first_captured":2010,"audio":0,"name":"apple.stackexchange.com","last_captured":2016},{"text":"apple","image":754343,"thumb":"apple.com","display_name":"www.apple.com","webpage":1289588,"snippet":"apple","link":"http://appl[...]
