---
http_interactions:
- request:
    method: get
    uri: https://web.archive.org/__wb/search/anchor?q=apple
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-App-Server:
      - wwwb-app42
      X-Ts:
      - '200'
      X-Tr:
      - '1482'
      X-Location:
      - wb-search
      X-Rl:
      - '0'
      X-Na:
      - '0'
      X-Page-Cache:
      - MISS
      X-Nid:
      - "-"
    body:
      encoding: UTF-8
      string: '[{"video":3,"display_name":"www.tuaw.com","first_captured":2004,"text":"apple
        blog","snippet":"tuaw","webpage":271932,"thumb":"tuaw.com","stripped_snippet":"tuaw","capture":1048451,"link":"http://tuaw.com/","last_captured":2015,"audio":3,"image":3412,"name":"tuaw.com"},{"video":0,"display_name":"apple.stackexchange.com","first_captured":2010,"text":"apple","snippet":"ask
        different (apple)","webpage":1507803,"thumb":"apple.stackexchange.com","stripped_snippet":"askdifferentapple","capture":2013764,"link":"http://apple.stackexchange.com/","last_captured":2016,"audio":0,"image":99,"name":"apple.stackexchange.com"},{"video":3303,"display_name":"www.apple.com","first_captured":1996,"text":"apple","snippet":"apple","webpage":1289588,"thumb":"appl[...]
