---
http_interactions:
- request:
    method: get
    uri: https://web.archive.org/__wb/search/host?q=dricas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-App-Server:
      - wwwb-app42
      X-Ts:
      - '200'
      X-Tr:
      - '715'
      X-Location:
      - wb-search
      X-Rl:
      - '0'
      X-Na:
      - '0'
      X-Page-Cache:
      - MISS
      X-Nid:
      - "-"
    body:
      encoding: UTF-8
      string: '{"isUrl":false,"hosts":[{"display_name":"cozinhadadrica.blogspot.com"},{"display_name":"dricaartesanatos.blogspot.com"},{"display_name":"eumaisdomesmo.blogspot.com"},{"display_name":"cantinhodasartess.blogspot.com"},{"display_name":"dricam.fotogold.com.br"}]}'
  recorded_at: Sat, 31 Jul 2021 18:35:21 GMT
- request:
    method: get
    uri: https://web.archive.org/__wb/search/anchor?q=dricas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-App-Server:
      - wwwb-app22
      X-Ts:
      - '200'
      X-Tr:
      - '592'
      X-Location:
      - wb-search
      X-Rl:
      - '0'
      X-Na:
      - '0'
      X-Page-Cache:
      - MISS
      X-Nid:
      - "-"
    body:
      encoding: UTF-8
      string: '[{"text":"cozinha da drica","image":0,"thumb":"cozinhadadrica.blogspot.com","display_name":"cozinhadadrica.blogspot.com","webpage":823,"snippet":"cozinha
        da drica","link":"http://cozinhadadrica.blogspot.com/","video":0,"stripped_snippet":"cozinhadadrica","capture":1025,"first_captured":2008,"audio":0,"name":"cozinhadadrica.blogspot.com","last_captured":2016},{"text":"drica
        bordados em ponto cruz","image":0,"thumb":"dricaartesanatos.blogspot.com","display_name":"dricaartesanatos.blogspot.com","webpage":20,"snippet":"drica
        bordados em ponto cruz","link":"http://dricaartesanatos.blogspot.com/","video":0,"stripped_snippet":"dricabordadosempontocruz","capture":31,"first_captured":2009,"audio":0,"name":"dricaartesanatos.blogspot.com","last_captured":2016},{"text":"craft
        room drica menezes","image":0,"thumb":"eumaisdomesmo.blo[...]
